/* line 4, ../../src/sass/grid.sass */
.grid {
  position: absolute;
}
/* line 7, ../../src/sass/grid.sass */
.grid .cell {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  background: #13151a;
  border: 1px solid #123642;
  cursor: crosshair;
}
/* line 14, ../../src/sass/grid.sass */
.grid .cell:hover {
  z-index: 10000 !important;
  -webkit-box-shadow: 0 0 10px #f1eed9;
  -moz-box-shadow: 0 0 10px #f1eed9;
  box-shadow: 0 0 10px #f1eed9;
}
