/* line 19, ../../src/sass/terrain.sass */
.cell.terrain.grass {
  background: #bada5f;
}
/* line 22, ../../src/sass/terrain.sass */
.cell.terrain.grass:hover {
  z-index: 10000 !important;
}
/* line 25, ../../src/sass/terrain.sass */
.cell.terrain.stone {
  background: #aab3ab;
}
/* line 28, ../../src/sass/terrain.sass */
.cell.terrain.water {
  background: #1693a5;
}
/* line 30, ../../src/sass/terrain.sass */
.cell.terrain.water:nth-child(2n) {
  background: #1797aa;
}
/* line 32, ../../src/sass/terrain.sass */
.cell.terrain.water:nth-child(3n) {
  background: #179bae;
}
/* line 34, ../../src/sass/terrain.sass */
.cell.terrain.water:nth-child(4n) {
  background: #189fb3;
}
/* line 36, ../../src/sass/terrain.sass */
.cell.terrain.water:nth-child(5n) {
  background: #158fa1;
}
/* line 38, ../../src/sass/terrain.sass */
.cell.terrain.water:nth-child(6n) {
  background: #18a1b5;
}
/* line 40, ../../src/sass/terrain.sass */
.cell.terrain.water:nth-child(7n) {
  background: #18a3b7;
}
