/* line 4, ../../src/sass/unit.sass */
.unit {
  position: absolute;
  z-index: 1;
}

/* line 8, ../../src/sass/unit.sass */
.u-botone {
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
}
/* line 15, ../../src/sass/unit.sass */
.u-botone .body {
  position: absolute;
  z-index: 2;
  top: 4px;
  left: 6px;
  width: 38px;
  height: 42px;
  background: #424242;
  border: 1px solid #757575;
  border-left: 1px solid #222222;
  border-right: 1px solid #222222;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px black inset, 0 0 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px black inset, 0 0 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px black inset, 0 0 8px rgba(0, 0, 0, 0.6);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(20%, #424242), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(#222222, #424242 20%, #222222);
  background-image: -moz-linear-gradient(#222222, #424242 20%, #222222);
  background-image: -o-linear-gradient(#222222, #424242 20%, #222222);
  background-image: linear-gradient(#222222, #424242 20%, #222222);
}
/* line 30, ../../src/sass/unit.sass */
.u-botone .body:before {
  position: absolute;
  top: 3px;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  width: 60%;
  height: 5px;
  background: #b11623;
  border-radius: 50%;
  border: 1px solid #424242;
  -webkit-box-shadow: 0 -2px 0px rgba(255, 255, 255, 0.05) inset, 0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 0 5px rgba(255, 0, 0, 0.4);
  -moz-box-shadow: 0 -2px 0px rgba(255, 255, 255, 0.05) inset, 0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 0 5px rgba(255, 0, 0, 0.4);
  box-shadow: 0 -2px 0px rgba(255, 255, 255, 0.05) inset, 0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 0 5px rgba(255, 0, 0, 0.4);
}
/* line 44, ../../src/sass/unit.sass */
.u-botone .tire {
  position: absolute;
  z-index: 1;
  top: 1px;
  height: 48px;
  width: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(30%, #222222), color-stop(50%, #424242), color-stop(70%, #222222), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(#222222, #222222 30%, #424242 50%, #222222 70%, #222222);
  background-image: -moz-linear-gradient(#222222, #222222 30%, #424242 50%, #222222 70%, #222222);
  background-image: -o-linear-gradient(#222222, #222222 30%, #424242 50%, #222222 70%, #222222);
  background-image: linear-gradient(#222222, #222222 30%, #424242 50%, #222222 70%, #222222);
  background: #bcbcbc;
  -webkit-background-size: 10%;
  -moz-background-size: 10%;
  -o-background-size: 10%;
  background-size: 10%;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px black;
  -moz-box-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;
}
/* line 56, ../../src/sass/unit.sass */
.u-botone .tire.left {
  left: 0;
  border-left: 1px solid black;
  border-right: 1px solid white;
}
/* line 60, ../../src/sass/unit.sass */
.u-botone .tire.right {
  left: auto;
  right: 0;
  border-left: 1px solid white;
  border-right: 1px solid black;
}
/* line 66, ../../src/sass/unit.sass */
.u-botone .turret {
  position: absolute;
  z-index: 3;
  top: -10px;
  left: 18px;
  width: 14px;
  height: 50px;
  background: #424242;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 -10px 10px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 -10px 10px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 -10px 10px rgba(0, 0, 0, 0.5) inset;
}
/* line 77, ../../src/sass/unit.sass */
.u-botone .turret:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 18px;
  height: 10px;
  background: #424242;
  border: 1px solid #e9e9e9;
  border-bottom: 3px solid #424242;
}
