/* line 7, ../../src/sass/viewport.sass */
.viewport {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 800px;
  height: 800px;
  margin: auto;
  background: #131313;
  border: 1px solid #424242;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), inset 0 0 5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), inset 0 0 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), inset 0 0 5px rgba(0, 0, 0, 0.8);
}

/* line 22, ../../src/sass/viewport.sass */
.grid {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
